
<p class="title is-1">
  <%= @blog.title %>
</p>

<div class="is-content is-medium blog-content">
  <span class="first-letter"><%= @blog.text.first %></span>
  <%= simple_format(@blog.text[1..-1], class: 'blog-text') %>
</div>

<div class="blog-buttons">
  <%= link_to "Home", root_path, class: "button is-primary is-outlined is-rounded is-small" %>
  <%= link_to "Edit", edit_blog_path(@blog), class: "button is-link is-outlined is-rounded is-small" %>
  <%= link_to 'Delete', blog_path(@blog),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "button is-danger is-outlined is-rounded is-small" %>
</div>